:root {
    --main-bg-color: #C98A40;
    --secondary-bg-color: #FFD39F;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #333333;
    --button-color: #FDBA10;
    --button-border-color: #C98A40;
    --footer_color: #584125;

    --zero-space: 0;
    --container-padding: 18.18%;
    --small-margin: 20px;
    --middle-margin: 30px;
    --big-margin: 50px;
    --inter-element-space: 14px;
    --big-inter-element-space: 16px;

    --input-radius: 61px;
}