:root {
  --main-bg-color: #C98A40;
  --secondary-bg-color: #FFD39F;
  --main-text-color: #FFFFFF;
  --secondary-text-color: #333333;
  --button-color: #FDBA10;
  --button-border-color: #C98A40;
  --footer_color: #584125;
  --zero-space: 0;
  --container-padding: 18.18%;
  --small-margin: 20px;
  --middle-margin: 30px;
  --big-margin: 50px;
  --inter-element-space: 14px;
  --big-inter-element-space: 16px;
  --input-radius: 61px;
}

.header {
  padding: 26px var(--container-padding) var(--zero-space);
  padding-bottom: var(--small-margin);
  height: 100%;
  background-image: url(../assets/bg-pattern-brown.png);
  background-color: var(--main-text-color);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header::before, .header::after {
  content: "";
  background-image: linear-gradient(90deg, var(--main-bg-color) 63.8947368421%, rgba(255, 255, 255, 0.1) 36.1052631579%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.header .logo {
  display: flex;
  padding-bottom: 144px;
  max-height: 124px;
}
.header .logo .logo-img {
  margin-right: var(--big-inter-element-space);
}
.header .logo .logo-text {
  font-family: "Sen";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.header .banner-image {
  position: absolute;
  top: 319px;
  left: 45.6vw;
  width: 35vw;
}
.header .banner-image .bread-pile {
  position: absolute;
  left: var(--zero-space);
  top: 66px;
}
.header h1 {
  font-family: "Sen";
  font-weight: 800;
  font-size: 3.9vw;
  line-height: 89px;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.header p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  max-width: 29vw;
  color: var(--main-text-color);
  padding-bottom: var(--big-margin);
}
.header .button {
  padding: 18px;
  background-color: var(--button-color);
  color: var(--main-text-color);
  border-radius: var(--middle-margin);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 195px;
  box-sizing: border-box;
  display: block;
  margin-bottom: var(--big-margin);
}
.header .button:hover {
  background-color: rgba(253, 186, 16, 0.7);
}
.header .social-media {
  position: absolute;
  background-image: url(../assets/bg-pattern-brown.png);
  background-color: var(--main-text-color);
  padding: 1% 3% 1% 20%;
  left: -1px;
  bottom: -16px;
}
.header .social-media .social-media-item {
  list-style: none;
}
.header .social-media .social-media-item:hover {
  transform: scale(1.5);
  transition: 0.3s;
}
.header address {
  margin-top: 219px;
  padding-left: 14%;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--main-text-color);
  font-style: normal;
}
.header address a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-left: var(--inter-element-space);
}
.header address a:hover {
  text-decoration: underline;
  text-shadow: 4px 4px 10px rgba(251, 251, 251, 0.6);
}

.main section .centered {
  padding: var(--zero-space) var(--container-padding) var(--zero-space);
}
.main .our-work {
  height: 100%;
  background-image: url(../assets/bg-pattern-brown.png);
  background-color: var(--main-text-color);
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: var(--big-margin) var(--zero-space);
}
.main .our-work::before, .main .our-work::after {
  content: "";
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 36.3%, var(--main-bg-color) 36.3%, var(--main-bg-color) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.main .our-work h2 {
  font-family: "Sen";
  font-weight: 800;
  font-size: 7.54vw;
  line-height: 96%;
  text-transform: uppercase;
  padding: var(--zero-space);
  margin: var(--zero-space) var(--zero-space) var(--big-margin);
  color: var(--main-text-color);
  float: right;
  text-align: right;
}
.main .our-work p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  max-width: 14.5vw;
  color: var(--main-bg-color);
  padding-top: 170px;
  padding-bottom: var(--big-margin);
}
.main .our-work .work-examples {
  display: flex;
  margin-bottom: var(--big-margin);
}
.main .our-work .work-examples img {
  margin-right: var(--small-margin);
  border-radius: 10px;
}
.main .our-work .button {
  padding: 18px;
  background-color: var(--button-color);
  color: var(--main-text-color);
  border-radius: var(--middle-margin);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 195px;
  box-sizing: border-box;
  display: block;
  margin-bottom: var(--big-margin);
  margin: 0 auto;
}
.main .our-work .button:hover {
  background-color: rgba(253, 186, 16, 0.7);
}
.main .about {
  height: 100%;
  background: linear-gradient(90deg, var(--main-bg-color) 63.8947368421%, var(--main-text-color) 36.1052631579%);
  padding: var(--big-margin) var(--zero-space);
}
.main .about .centered-block {
  position: relative;
}
.main .about .centered-block h2 {
  font-family: "Sen";
  font-weight: 800;
  font-size: 7.54vw;
  line-height: 96%;
  text-transform: uppercase;
  padding: var(--zero-space);
  margin: var(--zero-space) var(--zero-space) var(--big-margin);
  color: var(--main-text-color);
}
.main .about .centered-block p {
  max-width: 42%;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: var(--main-text-color);
  margin: var(--zero-space) var(--zero-space) var(--big-margin);
}
.main .about .centered-block .button {
  padding: 18px;
  background-color: var(--button-color);
  color: var(--main-text-color);
  border-radius: var(--middle-margin);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 195px;
  box-sizing: border-box;
  display: block;
  margin-bottom: var(--big-margin);
}
.main .about .centered-block .button:hover {
  background-color: rgba(253, 186, 16, 0.7);
}
.main .about .centered-block img {
  position: absolute;
  top: var(--zero-space);
  right: var(--zero-space);
}
.main .services {
  padding-top: 58px;
  padding-bottom: var(--big-margin);
}
.main .services h2 {
  font-family: "Sen";
  font-weight: 800;
  font-size: 7.54vw;
  line-height: 96%;
  text-transform: uppercase;
  padding: var(--zero-space);
  margin: var(--zero-space) var(--zero-space) var(--big-margin);
  text-align: center;
  color: var(--main-bg-color);
}
.main .services .services-list {
  display: flex;
  -moz-column-gap: var(--inter-element-space);
       column-gap: var(--inter-element-space);
  margin-bottom: var(--big-margin);
}
.main .services .services-list article img {
  border-radius: 30px 30px 0px 0px;
}
.main .services .services-list article h4 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-bg-color);
}
.main .services .services-list article p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-text-color);
}
.main .services .button {
  padding: 18px;
  background-color: var(--button-color);
  color: var(--main-text-color);
  border-radius: var(--middle-margin);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 195px;
  box-sizing: border-box;
  display: block;
  margin-bottom: var(--big-margin);
  margin: 0 auto;
}
.main .services .button:hover {
  background-color: rgba(253, 186, 16, 0.7);
}
.main .testimonials {
  padding: var(--big-margin) var(--zero-space);
  background-image: url("../assets/background-pattern.png");
  background-size: cover;
  background-color: var(--main-bg-color);
  height: -moz-max-content;
  height: max-content;
}
.main .testimonials h2 {
  font-family: "Sen";
  font-weight: 800;
  font-size: 7.54vw;
  line-height: 96%;
  text-transform: uppercase;
  padding: var(--zero-space);
  margin: var(--zero-space) var(--zero-space) var(--big-margin);
  text-align: center;
  color: var(--main-text-color);
}
.main .testimonials .gratitude {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main .testimonials .gratitude-card {
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
  max-width: 42.7%;
  box-sizing: border-box;
  border-radius: var(--middle-margin);
  padding: var(--small-margin) var(--big-margin);
  margin-bottom: var(--big-margin);
}
.main .testimonials .gratitude-card p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-text-color);
}
.main .testimonials .gratitude-card.left {
  margin-right: var(--big-margin);
}
.main .testimonials .gratitude-card h4 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-bg-color);
}
.main .testimonials .button {
  padding: 18px;
  background-color: var(--button-color);
  color: var(--main-text-color);
  border-radius: var(--middle-margin);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 195px;
  box-sizing: border-box;
  display: block;
  margin-bottom: var(--big-margin);
  margin: 0 auto;
}
.main .testimonials .button:hover {
  background-color: rgba(253, 186, 16, 0.7);
}

.footer {
  padding-top: var(--big-margin);
}
.footer h2 {
  font-family: "Sen";
  font-weight: 800;
  font-size: 7.54vw;
  line-height: 96%;
  text-transform: uppercase;
  padding: var(--zero-space);
  margin: var(--zero-space) var(--zero-space) var(--big-margin);
  color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}
.footer .container {
  display: flex;
  justify-content: center;
  padding-top: var(--big-margin);
}
.footer .container form {
  margin-right: 5.2vw;
  position: relative;
}
.footer .container form input {
  background-color: var(--secondary-bg-color);
  border: solid 1px var(--secondary-bg-color);
  border-radius: var(--input-radius);
  width: 15.9vw;
  padding: 17.5px 36px;
  font-family: "Poppins";
  font-size: 500;
  font-size: 14px;
  line-height: 17px;
  display: block;
  margin-bottom: var(--inter-element-space);
  color: var(--main-bg-color);
}
.footer .container form input::-moz-placeholder {
  color: var(--main-bg-color);
}
.footer .container form input::placeholder {
  color: var(--main-bg-color);
}
.footer .container form input:focus {
  outline: 3px solid var(--main-bg-color);
}
.footer .container form input:invalid {
  border: 1px solid #ED0131;
  outline: 1px solid #ED0131;
}
.footer .container form .error-top, .footer .container form .error-bottom {
  color: #ED0131;
  display: none;
  font-family: "Poppins";
  font-size: 500;
  font-size: 14px;
  line-height: 17px;
}
.footer .container form input:invalid + .error-top {
  display: block;
  position: absolute;
  left: -164px;
  top: 0;
}
.footer .container form input:invalid + .error-bottom {
  display: block;
  position: absolute;
  left: -164px;
  top: 72px;
}
.footer .container form button {
  border: 3px solid var(--main-bg-color);
  text-transform: uppercase;
  color: var(--main-bg-color);
  border-radius: var(--input-radius);
  height: 56px;
  font-family: "Sen", sans-serif;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--white);
  cursor: pointer;
  width: 168px;
  margin-bottom: var(--middle-margin);
  margin-left: 5.4vw;
}
.footer .container form button:hover {
  color: var(--button-color);
  text-shadow: 4px 4px 10px rgba(253, 186, 16, 0.6);
  border: 3px solid var(--button-color);
  box-shadow: 4px 4px 10px rgba(253, 186, 16, 0.6);
}
.footer .container .contacts {
  padding-top: var(--middle-margin);
  display: flex;
  flex-direction: column;
  gap: var(--middle-margin);
}
.footer .container .contacts .email, .footer .container .contacts .phone, .footer .container .contacts .address {
  display: flex;
  align-items: center;
  gap: var(--small-margin);
}
.footer .container .contacts .email a, .footer .container .contacts .phone a, .footer .container .contacts .address a {
  font-family: "Poppins";
  font-size: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.footer .container .contacts .email a:hover, .footer .container .contacts .phone a:hover, .footer .container .contacts .address a:hover {
  text-decoration: underline;
  text-shadow: 4px 4px 10px rgba(51, 51, 51, 0.6);
}
.footer .container .contacts .email address, .footer .container .contacts .phone address, .footer .container .contacts .address address {
  font-family: "Poppins";
  font-size: 500;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: var(--secondary-text-color);
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 117px;
  background-color: var(--footer_color);
  color: var(--main-bg-color);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.copyright a {
  color: inherit;
  text-decoration: none;
}
.copyright a:hover {
  color: var(--button-color);
  text-decoration: underline;
  text-shadow: 4px 4px 10px rgba(253, 186, 16, 0.6);
}

@media screen and (max-width: 1800px) {
  .header .banner-image img {
    left: 4% !important;
  }
  .about .centered-block h2 {
    font-size: 7vw !important;
  }
  .about .centered-block img {
    right: -4% !important;
  }
  .services .centered {
    padding: 0 12% 0 !important;
  }
}
@media screen and (max-width: 1580px) {
  .our-work .work-examples {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-work .work-examples img {
    margin-bottom: var(--inter-element-space);
  }
}
@media screen and (max-width: 1380px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer .container form button {
    margin-left: 4.4vw;
  }
  .footer .container .contacts {
    margin-bottom: var(--small-margin);
  }
}
@media screen and (max-width: 1280px) {
  .services .services-list {
    flex-direction: column;
    align-items: center;
  }
  .services .services-list article {
    max-width: 346px;
  }
}/*# sourceMappingURL=main.css.map */