@import 'variables', 'mixins';

.header {
    padding: 26px var(--container-padding) var(--zero-space);
    padding-bottom: var(--small-margin);
    height: 100%;
    background-image: url(../assets/bg-pattern-brown.png);
    background-color: var(--main-text-color);
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before, &::after {
        content: '';
        background-image: linear-gradient(90deg, var(--main-bg-color) calc(1214 / 1900 * 100%), rgba(255, 255, 255, 0.1) calc(100% - (1214 / 1900 * 100%)));
        position:absolute;
        width: 100%;
        height: 100%;
        top:0px;
        left:0px;
        z-index: -1;
    }
    & .logo {
        display: flex;
        padding-bottom: 144px;
        max-height: 124px;
        & .logo-img {
            margin-right: var(--big-inter-element-space);
        }
        & .logo-text {
            font-family: 'Sen';
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            text-transform: uppercase;
            color: var(--main-text-color);
        }
    }
    & .banner-image {
        position: absolute;
        top: 319px;
        left: 45.6vw;
        width: 35vw;
        & .bread-pile {
            position: absolute;
            left: var(--zero-space);
            top: 66px;
        }
    }
    & h1 {
        @include title;
        color: var(--main-text-color);
    }
    p {
        @include motto;
        max-width: 29vw;
        color: var(--main-text-color);
        padding-bottom: var(--big-margin);
    }
    & .button {
        @include button;
        &:hover {
            background-color: rgba(253, 186, 16, 0.7);
        }
    }
    & .social-media {
        position: absolute;
        background-image: url(../assets/bg-pattern-brown.png);
        background-color: var(--main-text-color);
        padding: 1% 3% 1% 20%;
        left: -1px;
        bottom: -16px;
        & .social-media-item {
            list-style: none;
            &:hover {
                transform: scale(1.5);
                transition: 0.3s;
            }
        }
    }
    & address {
        margin-top: 219px;
        padding-left: 14%;
        @include motto;
        font-weight: 700;
        color: var(--main-text-color);
        font-style: normal;
        & a {
            text-decoration: none;
            color: inherit;
            display: inline-block;
            margin-left: var(--inter-element-space);
            &:hover {
                text-decoration: underline;
                text-shadow: 4px 4px 10px rgba(251,251,251,0.6);
            }
        }
    }
}
.main {
    & section {
        & .centered {
            @include container;
        }
    }
    & .our-work {
        height: 100%;
        background-image: url(../assets/bg-pattern-brown.png);
        background-color: var(--main-text-color);
        background-size: cover;
        position: relative;
        z-index: 1;
        &::before, &::after {
            content: '';
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 36.3%, var(--main-bg-color) 36.3%, var(--main-bg-color) 100%);
            position:absolute;
            width: 100%;height: 100%;
            top:0px;
            left:0px;
            z-index: -1;
        }
        padding: var(--big-margin) var(--zero-space);
        & h2 {
            @include subtitle;
            color: var(--main-text-color);
            float: right;
            text-align: right;
        }
        & p {
            @include motto;
            max-width: 14.5vw;
            color: var(--main-bg-color);
            padding-top: 170px;
            padding-bottom: var(--big-margin);
        }
        & .work-examples {
            display: flex;
            & img {
                margin-right: var(--small-margin);
                border-radius: 10px;
            }
            margin-bottom: var(--big-margin);
        }
        & .button {
            @include button;
            margin: 0 auto;
            &:hover {
                background-color: rgba(253, 186, 16, 0.7);
            }
        }
    }
    & .about {
        height: 100%;
        background: linear-gradient(90deg, var(--main-bg-color) calc(1214 / 1900 * 100%), var(--main-text-color) calc(100% - (1214 / 1900 * 100%)));
        padding: var(--big-margin) var(--zero-space);
        & .centered-block {
            position: relative;
            & h2 {
                @include subtitle;
                color: var(--main-text-color);
            }
            & p {
                max-width: 42%;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: var(--main-text-color);
                margin: var(--zero-space) var(--zero-space) var(--big-margin);
            }
            & .button {
                @include button;
                &:hover {
                    background-color: rgba(253, 186, 16, 0.7);
                }
            }
            & img {
                position: absolute;
                top: var(--zero-space);
                right: var(--zero-space);
            }
        }
    }
    & .services {
        padding-top: 58px;
        padding-bottom: var(--big-margin);
        & h2 {
            @include subtitle;
            text-align: center;
            color: var(--main-bg-color);
        }
        & .services-list {
            display: flex;
            column-gap: var(--inter-element-space);
            margin-bottom: var(--big-margin);
            & article {
                & img {
                    border-radius: 30px 30px 0px 0px;
                }
                & h4 {
                    font-family: 'Poppins';
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--main-bg-color);
                }
                & p {
                    @include description;
                }
            }
        }
        & .button {
            @include button;
            margin: 0 auto;
            &:hover {
                background-color: rgba(253, 186, 16, 0.7);
            }
        }
    }
    & .testimonials {
        padding: var(--big-margin) var(--zero-space);
        & h2 {
            @include subtitle;
            text-align: center;
            color: var(--main-text-color);
        }
        background-image: url('../assets/background-pattern.png');
        background-size: cover;
        background-color: var(--main-bg-color);
        height: max-content;
        & .gratitude {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        & .gratitude-card {
            background-color: var(--main-text-color);
            color: var(--secondary-text-color);
            max-width: 42.7%;
            box-sizing: border-box;
            border-radius: var(--middle-margin);
            padding: var(--small-margin) var(--big-margin);
            margin-bottom: var(--big-margin);
            & p {
                @include description;
            }
            &.left {
                margin-right: var(--big-margin);
            }
            & h4 {
                font-family: 'Poppins';
                font-weight: 900;
                font-size: 16px;
                line-height: 24px;
                color: var(--main-bg-color);
            }
        }
        & .button {
            @include button;
            margin: 0 auto;
            &:hover {
                background-color: rgba(253, 186, 16, 0.7);
            }
        }
    }
}
.footer {
    padding-top: var(--big-margin);
    & h2 {
        @include subtitle;
        color: var(--main-bg-color);
        display: flex;
        justify-content: center;
    }
    & .container {
        display: flex;
        justify-content: center;
        padding-top: var(--big-margin);
        & form {
            margin-right: 5.2vw;
            position: relative;
            & input {
                @include custom-input;
                display: block;
                margin-bottom: var(--inter-element-space);
                color: var(--main-bg-color);
                &::placeholder {
                    color: var(--main-bg-color);
                }
                &:focus {
                    outline: 3px solid var(--main-bg-color);
                }
                &:invalid {
                    border: 1px solid #ED0131;
                    outline: 1px solid #ED0131;
                }
            }
            & .error-top, .error-bottom {
                color: #ED0131;
                display: none;
                font-family: 'Poppins';
                font-size: 500;
                font-size: 14px;
                line-height: 17px;
            }
            & input:invalid +.error-top {
                
                display: block;
                position: absolute;
                left: -164px;
                top: 0;
            }
            & input:invalid +.error-bottom {
                display: block;
                position: absolute;
                left: -164px;
                top: 72px;
            }
            & button {
                border: 3px solid var(--main-bg-color);
                text-transform: uppercase;
                color: var(--main-bg-color);
                border-radius: var(--input-radius);
                height: 56px;
                font-family: "Sen", sans-serif;
                font-family: 'Poppins';
                font-weight: 900;
                font-size: 18px;
                line-height: 24px;
                background-color: var(--white);
                cursor: pointer;
                width: 168px;
                margin-bottom: var(--middle-margin);
                margin-left: 5.4vw;
                &:hover {
                    color: var(--button-color);
                    text-shadow: 4px 4px 10px rgba(253,186,16,0.6);
                    border: 3px solid var(--button-color);
                    box-shadow: 4px 4px 10px rgba(253,186,16,0.6);
                }
            }
        }
        
        & .contacts {
            padding-top: var(--middle-margin);
            display: flex;
            flex-direction: column;
            gap: var(--middle-margin);
            .email, .phone, .address {
                display: flex; 
                align-items: center;
                gap: var(--small-margin);
                & a {
                    font-family: 'Poppins';
                    font-size: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-decoration: none;
                    color: var(--secondary-text-color);
                    &:hover {
                        text-decoration: underline;
                        text-shadow: 4px 4px 10px rgba(51,51,51,0.6);
                    }
                }
                & address {
                    font-family: 'Poppins';
                    font-size: 500;
                    font-size: 14px;
                    line-height: 17px;
                    font-style: normal;
                    color: var(--secondary-text-color);
                }
            }
        }
    }
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 117px;
    background-color: var(--footer_color);
    color: var(--main-bg-color);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    & a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: var(--button-color);
            text-decoration: underline;
            text-shadow: 4px 4px 10px rgba(253,186,16,0.6);
        }
    }
}

@media  screen and (max-width: 1800px) {
    .header {
        & .banner-image {
            & img {
                left: 4% !important;
            }
        }
    }
    .about {
        & .centered-block {
            & h2 {
                font-size: 7vw !important;
            }
            & img {
                right: -4% !important;
            }
        }
    }
    .services {
        & .centered {
            padding: 0 12% 0 !important;
        }
    }
}
@media  screen and (max-width: 1580px) {
    .our-work {
        & .work-examples {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            & img {
                margin-bottom: var(--inter-element-space);
            }
        }
    }
}
@media  screen and (max-width: 1380px) {
    .footer {
        & .container {
            flex-direction: column;
            align-items: center;
            & form {
                & button {
                    margin-left: 4.4vw;
                }
            }
            & .contacts {
                margin-bottom: var(--small-margin);
            }
        }
    }
}
@media  screen and (max-width: 1280px) {
    .services {
        & .services-list {
            flex-direction: column;
            align-items: center;
            & article {
                max-width: 346px;
            }
        }
    }
}